name: CI Workflow

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - run: yarn --ignore-engines
        name: Install dependencies
      - run: yarn run lint
        name: Lint packages
      - run: yarn run test
        name: Test packages

  release:
    runs-on: ubuntu-latest
    needs: [test]
    if: ${{ success() && github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - run: yarn --ignore-engines
        name: Install dependencies
      - run: yarn run build
        name: Build packages
      - name: Git Identity
        run: |
          git config --global user.name ${{ secrets.GH_USER }}
          git config --global user.email ${{ secrets.GH_EMAIL }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn run publish
        name: Publish packages
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

